apiVersion: dex.betssongroup.com/v1
kind: Client
metadata:
  name: __CLUSTER_NAME__
  namespace: sso
spec:
  name: __CLUSTER_NAME__
  secret: __CLUSTER_ID__-__CLUSTER_ID__
  public: false
  redirectURIs:
    - "https://oauth-openshift.apps.__CLUSTER_NAME__.__CLUSTER_DOMAIN__/oauth2callback/openid-1"
