apiVersion: batch/v1
kind: Job
metadata:
  name: bootstrap-ks-provision
  namespace: bootstrap-ks
spec:
  template:
    spec:
      serviceAccountName: bootstrap-ks-service-account
      volumes:
      - name: pull-secret
        secret:
          secretName: openshift-pull-secret
      - name: azure-cli-dir
        emptyDir: {}
      - name: ssh-dir
        emptyDir: {}
      - name: tmp
        emptyDir: {}
      containers:
      - name: bootstrap
        image: quay.io/gurnbenibm/bootstrapks:latest
        command: ["/bin/bash", "-c", "./provision_wrapper.sh"]
        envFrom:
        - secretRef:
            name: bootstrap-ks-config
        - secretRef:
            name: bootstrap-ks-creds
        env:
        - name: OCP_PULL_SECRET_FILE
          value: /opt/pull-secret.txt
        - name: OUTPUT_DEST
          value: /home/tmp
        - name: COLOR
          value: "false"
        volumeMounts:
        - name: pull-secret
          mountPath: "/opt"
          readOnly: true
        - name: azure-cli-dir
          mountPath: /.azure
        - name: ssh-dir
          mountPath: /.ssh
        - name: tmp
          mountPath: /home/tmp
      restartPolicy: Never
