# Azure Only
AZURE_BASE_DOMAIN_RESOURCE_GROUP_NAME=<RESOURCE_GROUP_NAME>
AZURE_BASE_DOMAIN=<BASE_DOMAIN>
AZURE_REGION=<REGION>
# Universal Cluster Name
CLUSTER_NAME=<CLUSTER_NAME>
# Operational Details
OPERATION=<CREATE|DESTROY>
TARGET_KS=<CLUSTER_TYPE_TO_CREATE>